@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
/* 웹 접근성을 고려한 콘텐츠 숨기기 */
.screen_reader_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}
/* 전체 배경색 */
.background_gradient {
  height: 100vh;
  background: linear-gradient(45deg, #F0F4FF, #A5B6EE);
}



/* ---------- Header ---------- */
#header_container {
  display: flex;
  justify-content: center;
}
#header_container > .logo_image {
  width: 244px;
  height: 48px;
  margin-top: 72px;
  margin-bottom: 60px;
}



/* ---------- Footer ---------- */
#footer_container {
  display: flex;
  justify-content: center;
}
#footer_container > .corp_text {
  /* text-align: center; */
  margin-top: 60px;
  margin-bottom: 103px;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #8596BF;
}